<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JacobSudoku</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>Please allow access to your photos to import images.</string>
        </config-file>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Please allow access to your camera to take photos.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Please allow access to your microphone to record audio.</string>
        </config-file>
        <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
            <string>Please allow access to your contacts.</string>
        </config-file>
        <config-file parent="NSCalendarsUsageDescription" target="*-Info.plist">
            <string>Please allow access to your calendar.</string>
        </config-file>
        <config-file parent="NSBluetoothPeripheralUsageDescription" target="*-Info.plist">
            <string>Please allow access to use bluetooth within this app.</string>
        </config-file>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="^4.0.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Please allow access to your camera to take photos of sudokus." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Please allow access to your photo library to use exsisting images taken" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
