.horizontalSep{
    border-top: 3px solid black;
}

.verticalSep{
    border-left: 3px solid black;
}

table {
    border-collapse: collapse;
}

tr {
    height: 10%;
}

table, td {
    border: 1px solid black;
}

td {
    width: 10%;
}

input {
    size: inherit;
}

#imageFile {
    display: none;
}